{% extends "base.html" %}
{% load blog_extras cache %}
{% block content %}
  <h1>{{post.title}}</h1>
  {% row %}
    {% col %}
      {% include "blog/post-byline.html" %}
    {% endcol %}
  {% endrow %}
  {% row %}
    {% col %}
      {{post.content|safe}}
    {% endcol %}
  {% endrow %}
  {% if post.author.profile %}
    {% row %}
      {% col %}
        <h4>About Author </h4>
        {{post.author.profile.bio}}
      {% endcol %}
    {% endrow %}
  {% endif %}
  {% row %}
    {% col %}
      {% include "blog/post-comments.html"%}
    {% endcol %}
  {% endrow %}
  {% row %}
    {% col %}
      {% cache 30 recent_posts  post%}
        {% recent_posts %}
      {% endcache %}
    {% endcol %}
  {% endrow %}
  {% row %}
    {% col %}
      <a href="{% url 'blog:index_view' %}">Back</a>
    {% endcol %}
  {% endrow %}

{% endblock %}